.background {
  viewport-fill: #635666;
}

#battery_icon_background {
  height: 17;
  width: 35;
  x: 0;
  y: 15;
  fill: goldenrod;
  opacity: .08;
}

#battery_icon {
  height: 17;
  width: 35;
  x: 0;
  y: 15;
  fill: goldenrod;
  opacity: 1;
}

#battery_percentage {
  x: $+2;
}

.bat_percentage_background {
  height: 17;
  width: 10;
  x: $+1;
  y: 15;
  fill: goldenrod;
  opacity: .08;
}

.bat_percentage_foreground {
  height: 17;
  width: 10;
  x: $+1;
  y: 15;
  fill: goldenrod;
  opacity: 1;
}

#date {
  x: 77%;
}

#date-num {
  x: $+1;
}

.date_num_background {
  height: 17;
  width: 10;
  x: $+1;
  y: 15;
  fill: cyan;
  opacity: .06;
}

.date_num_foreground {
  height: 17;
  width: 10;
  x: $+1;
  y: 15;
  fill: cyan;
}

#mon {
  x: 0;
  y: 15;
  width: 32;
  height: 17;
  fill: cyan;
}

.num-background {
  fill: cyan;
  x: $+3%;
  y: 28%;
  width: 20%;
  height: 60%;
  opacity: .06;
}

.num-foreground {
  fill: cyan;
  x: $+3%;
  y: 28%;
  width: 20%;
  height: 60%;
}

.seperator {
  opacity: .8; 
  x: $+3%;
  y: 40%;
  width: 5%;
  height: 71;
}

.prime {
  x: 0;
}

.day {
  x: $+3%;
  y: 0;
  width: 32;
  height: 17;
  fill: cyan;
}

.hr-logo {
  fill: cyan;
  x: 0;
  y: 10;
  width: 23;
  height: 70;
  opacity: 60;
}

.hr-background {
  fill: cyan;
  x: $+3%;
  y: 10;
  width: 37;
  height: 70;
  opacity: .06;
}

.hr-foreground {
  fill: cyan;
  x: $+3%;
  y: 10;
  width: 37;
  height: 70;
  opacity: 1;
}

.steps-background {
  fill: springgreen;
  x: $+3%;
  y: 0;
  width: 18;
  height: 32;
  opacity: .06;
}

.steps-foreground {
  fill: springgreen;
  x: $+3%;
  y: 0;
  width: 18;
  height: 32;
}

.cal-background {
  fill: mediumvioletred;
  x: $+3%;
  y: 0;
  width: 18;
  height: 31;
  opacity: .06;
}

.cal-foreground {
  fill: mediumvioletred;
  x: $+3%;
  y: 0;
  width: 18;
  height: 31;
}

#top {
  x: 4%;
  y: 0;
  width: 96%;
  height: 60%;
}

#bottom {
  x: 4%;
  y: 59%;
  width: 96%;
  height: 40%;
}

#stats {
  y: $;
  x: 0;
}

.stats_grid {
  x: $;
  y: 5;
  width: 45%;
  height: 100%;
}

.pace_stats {
  x: 0;
  y: $+8;
  width: 100%;
  height: 31;
}

#stats-right {
  x: $+24;
}


