.background {
  viewport-fill: #635666;
}

#myLabel {
  font-size: 80;
  font-family: System-Bold;
  text-length: 32;
  text-anchor: middle;
  x: 50%;
  y: 50%+40;
  fill: cyan;
}

#battery_icon_background {
  height: 16;
  width: 34;
  x: 0;
  y: 15;
  fill: goldenrod;
  opacity: .08;
}

#battery_icon {
  height: 16;
  width: 34;
  x: 0;
  y: 15;
  fill: goldenrod;
  opacity: 1;
}

#battery_percentage {
  x: $+2;
}

.bat_percentage_background {
  height: 16;
  width: 10;
  x: $+1;
  y: 15;
  fill: goldenrod;
  opacity: .08;
}

.bat_percentage_foreground {
  height: 16;
  width: 10;
  x: $+1;
  y: 15;
  fill: goldenrod;
  opacity: 1;
}

.num-background {
  fill: cyan;
  x: $+3%;
  y: 30%;
  width: 20%;
  height: 60%;
  opacity: .05;
}

.num-foreground {
  fill: cyan;
  x: $+3%;
  y: 30%;
  width: 20%;
  height: 60%;
}

.seperator {
  opacity: .8; 
  x: $+3%;
  y: 40%;
  width: 5%;
  height: 71;
}

.prime {
  x: 0;
}

.day {
  x: $+3%;
  y: 5;
  width: 32;
  height: 15;
  fill: 'cyan';
  opacity: .05;
}


#top {
  x: 4%;
  y: 0;
  width: 96%;
  height: 60%;
}

#bottom {
  x: 0;
  y: $;
  width: 100%;
  height: 40%;
}

#hello {
  fill: goldenrod;
  x: 50%;
  text-anchor: middle;
}
